*{
    margin: 0;
}
nav { 
    display: flex;
    justify-content: space-between;
    padding: 20px ;
}
nav a { 
    text-decoration: none;
    color: black;
    font-family: inter;
    font-size: 23.53px;
    letter-spacing:6px;
    transition: .2s;

}
nav a:hover { 
    letter-spacing: 7px;
    
}
nav button { 
    font-size: 23.53px;
    color: #fff;
    font-family: inter;
    background-color: black;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}
.popup { 
    display: flex;
    justify-content: center;
    display: none;
    
    
}
.index_popup { 
    display: flex;
    flex-direction: column;
    width: 470px;
    height: 322px;
    justify-content: space-between;
    padding: 10px;
    background-color: #f4f4f4;
    position: fixed;
    border: 1px solid black;
}
.index_popup p:first-child { 
    font-size: 14px;
    font-family: Inter;
}
.index_popup p { 
    font-family: Inter;
    font-size: 32px;
}
.popup_input { 
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    gap: 30px;
}
.popup_input input {
    border: none; 
    border-bottom:1px solid black ;
    font-size: 14px;
    color: #000;
    font-family: inter;
    background: none;
}
.popup_input input::placeholder { 
    font-size: 14px;
    color: #000;
    font-family: inter;
}
.index_popup button { 
    padding: 10px;
    border: none;
    cursor: pointer;
    color: #FFF;
    background-color: #000;
    font-family: inter;
    font-size: 14px;
}
.popup_text  {
    display: flex;
    justify-content: space-between;
}
.popup_text button { 
    width: 30px;
    height: 50px;
    text-align: center;
}
.main  {
    background-image: url(0aa67a55-3f8a-45a9-815e-b4df349bb85d.jpg);
    /* width: 1920px; */
    height: 850px;  
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding-left: 100px;
}
.main h1 { 
    color: #fff;
    font-family: inter;
    font-size: 60px;
    text-align: left;
}
.main p { 
    color: #fff;
    font-family: inter;
    font-size: 22px;
}
.main button { 
    background-color: #242424;
    color: #fff;
    padding: 20px 60px;
    cursor: pointer;
    border:none;
    transition: .2s;
    font-size: 24px;
}
.main button:hover { 
    padding: 22px 64px;
}
.main_text  {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.buttonJS  { 
    border-radius: 0px;
    /* padding: 10px 10px; */
    border: 1px solid black;
    background:none;
    padding: 2.5px;
    font-size: 16px;
    font-family: inter; 
    /* float: right; */
    transition: .2s;
    cursor: pointer;
}
.buttonJS:hover { 
    color: #FFF;
    transition: 0.2s;
}
.buttonJS:hover :last-child { 
    background-color: #000;
    transition: 0.2s;
    gap: 10px;
}


.buttonBlack { 
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
#buttonBlackLast { 
    background-color: #000;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    transition: .2s;
}
#rooms { 
    /* display: grid;
    grid-template-columns: 3; */
    /* max-width: 1470px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 100px;
    
}
#rooms img{
    max-width: 410px;
}
#rooms p { 
    font-family: inter;
    font-size: 24px;
}
.roomsJS { 
    display: block;
     
}
.roomsTEXT1{ 
        display: flex;
        justify-content: space-between;
        width: 410px; 
}
#pNumber { 
    color:#444;
    font-size: 17px;
}
label { 
    padding: 100px;
    font-size: 32px;
    font-family: inter;
}
.filterJS { 
    padding-top: 50px;
}
.filterLABEL { 
    padding-bottom: 50px;
}
#filter { 
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-family: inter;
}
form { 
    display: flex;
    flex-direction: column;
    gap: 10px;

}
form input { 
    padding: 10px;
    border: none;
    border-bottom: 1px solid #000;
}
#btn { 
    padding: 20px 40px;
    border: none;
    background-color: #000;
    color: #FFF;
    cursor: pointer;
    font-size: 16px;
    font-family: inter;
}
footer { 
    background-color: #282828;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
} 
footer .info1 { 
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}
footer .info1 p { 
    color: #fff;
    font-size: 20px;
    font-family: inter;
}
footer .info1 p:first-child {
    border-bottom: 1px solid #fff;
}
.telega { 
    display: flex;
    flex-direction: column;
}
.telega img { 
    width: 80px;
    height: 60px;
}
.telega a { 
    color: #ffffffa6;
    text-decoration: none;
    font-size: 16px;
    font-family: Inter;
}

.vk { 
    display: flex;
    flex-direction: column;
}
.vk img { 
    width: 80px;
    height: 50px;
}
.vk a { 
    color: #ffffffa6;
    text-decoration: none;
    font-size: 16px;
    font-family: Inter;
}
.info2 { 
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}
footer h2 { 
    color: #fff;
    font-size: 36px;
    font-family: inter;
    text-align: center;
    font-weight: 300;
}